@import '../../../assets/style/variable';
@import '../../../assets/style/mixin';

.product {
    width: 95vw;
    margin: 0 auto;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $main-color;

    &__heading {
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 2rem;
    }
    &__subheading {
        font-weight: 100;
        text-transform: uppercase;
        display: flex;
        gap: 1rem;
        margin-bottom: 3rem;
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom: 1px solid $main-color;
        }
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
        @include media-tablet {
            grid-template-columns: 1fr 1fr;
            column-gap: 3rem;
            row-gap: 2rem;
        }
        @include media-mobile {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }
    }
}
