@import '../../assets/style/variable';
.delivery {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $second-background-color;

    img {
        width: 30rem;
        margin-bottom: 3rem;
    }

    h4 {
        color: $green-color;
        margin-bottom: 2rem;
    }

    button {
        padding: 1rem 3rem;
        background-color: $green-color;
        color: $main-background-color;
    }
}
